/* ----------------universal styles----------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/*-------------------- body ------------------------*/

body {
  font-family: "Open Sans", sans-serif;
}

/* ---------------------project variables -----------------*/

:root {
  --primary-color: #00d7bb;
  --background-second: #313741;
  --background-first: #22252c;
  --normal-text: white;
  --para-color: #f8f6f2;
}

/*--------------- common styles---------------- */

.container {
  width: 1170px;
  margin: 0 auto;
}

.section-title {
  font-size: 45px;
  font-weight: 700;
  line-height: 50px;
  background-image: linear-gradient(to right, #45be79 0%, #2ce0d6 47%);
  background-clip: text;
  color: transparent;
  width: min-content;
  text-wrap: nowrap;
}

.para {
  font-size: 15px;
  font-weight: 300;
  color: var(--para-color);
  line-height: 26px;
}
.btn {
  font-size: 14px;
  font-weight: 700;
  color: white;
  line-height: 26px;
  padding: 15px 20px;
  background: rgb(68, 189, 120);
  background: linear-gradient(
    135deg,
    rgba(68, 189, 120, 1) 1%,
    rgba(40, 221, 213, 1) 53%
  );
  border: none;
  box-shadow: rgba(40, 221, 213, 1) 0px 5px 15px;
}

/* ---------------header section -----------------*/
.header {
  background: rgb(69, 193, 124);
  background-image: url(/images/hero-banner.jpg),
    linear-gradient(90deg, rgba(69, 193, 124, 1) 11%, rgba(44, 225, 216, 1) 42%);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-blend-mode: overlay;
}
/*-----------------------navbar section------------------- */

.nav-section-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 45px;
}

.nav-title {
  font-size: 30px;
  line-height: 30px;
  font-weight: 700;
  color: white;
}

.nav-lists {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 15px;
}

.nav-link {
  font-size: 20px;
  font-weight: 500;
  color: white;
  text-decoration: none;
  padding: 10px 12px;
}

.nav-link:hover {
  background-color: white;
  color: var(--primary-color);
  border-radius: 10px;
}

.hire-me-btn {
  font-size: 20px;
  font-weight: 600;
  color: white;
  border: 2px solid white;
  padding: 12px 18px;
  background-color: transparent;
  border-radius: 25px;
}
.hire-me-btn:hover {
  background-color: white;
  color: #00d7bb;
}
.arrow-sign {
  margin-left: 5px;
  font-size: 18px;
}

/* -----------hero section------------- */
.hero-container {
  height: calc(100% - 95.4px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hello-text {
  font-size: 120px;
  font-weight: 400;
  color: white;
  line-height: 135px;
}

.hero-title {
  font-size: 84px;
  font-weight: 600;
  color: white;
  line-height: 92px;
  margin-bottom: 10px;
}

.hero-job-name {
  font-size: 26px;
  font-weight: 500;
  color: white;
  line-height: 30px;
}

/* ------------------about section------------- */

.about-area {
  background-color: var(--background-first);
  padding-top: 130px;
  padding-bottom: 130px;
}

.about-area-container {
  display: flex;
  align-items: center;
}

.about-area-container > * {
  flex: 1;
}

.about-left {
  position: relative;
}

.about-image {
  width: 365px;
  height: 385px;
  object-fit: contain;
  position: relative;
  z-index: 1000;
  background: rgb(17, 18, 18);
  background: linear-gradient(
    0deg,
    rgba(17, 18, 18, 1) 4%,
    rgba(37, 35, 35, 1) 64%
  );
}

.border-line {
  width: 365px;
  height: 385px;
  border: 7px solid var(--primary-color);
  position: absolute;
  top: -50px;
  left: 50px;
  z-index: 10;
}

.about-description {
  margin-top: 20px;
  margin-bottom: 20px;
}

.about-detail {
  font-size: 18px;
  font-weight: 500;
  color: white;
  line-height: 26px;
  margin-bottom: 15px;
}
.about-detail-highlight {
  font-weight: 700;
  color: var(--primary-color);
}

.resume-btn {
  margin-left: 278px;
}

/* -------------education section------------- */

.education-area {
  background-color: var(--background-second);
  padding-bottom: 120px;
}

.education-title-container {
  display: flex;
  justify-content: center;
  padding-top: 120px;
  padding-bottom: 120px;
}

.education-title {
  width: min-content;
}

.certificate {
  display: flex;
}

.certificate > * {
  flex: 1;
  padding: 75px 50px;
}

.certificate-details {
  text-align: end;
  border-right: 5px solid var(--primary-color);
}

.certificate-title {
  font-size: 27px;
  font-weight: 700;
  color: var(--primary-color);
}

.education-period {
  font-size: 16px;
  font-weight: 400;
  color: white;
  margin-top: 8px;
}

.certificate-text-container {
  display: flex;
  align-items: center;
  position: relative;
}

.circle-dot {
  position: absolute;
  left: -18px;
  color: #00d7bb;
}
