/* ----------------universal styles----------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/*-------------------- body ------------------------*/

body {
  font-family: "Open Sans", sans-serif;
}

/* ---------------------project variables -----------------*/

:root {
  --primary-color: #00d7bb;
  --background-second: #313741;
  --background-first: #22252c;
  --normal-text: white;
  --para-color: #f8f6f2;
}

/*--------------- common styles---------------- */

.container {
  width: 1170px;
  margin: 0 auto;
}

.section-title {
  font-size: 45px;
  font-weight: 700;
  line-height: 50px;
  background-image: linear-gradient(to right, #45be79 0%, #2ce0d6 47%);
  background-clip: text;
  color: transparent;
  width: min-content;
  text-wrap: nowrap;
}

.para {
  font-size: 15px;
  font-weight: 300;
  color: var(--para-color);
  line-height: 26px;
}
.btn {
  font-size: 14px;
  font-weight: 700;
  color: white;
  line-height: 26px;
  padding: 15px 20px;
  background: rgb(68, 189, 120);
  background: linear-gradient(
    135deg,
    rgba(68, 189, 120, 1) 1%,
    rgba(40, 221, 213, 1) 53%
  );
  border: none;
  box-shadow: rgba(40, 221, 213, 1) 0px 5px 15px;
  cursor: pointer;
}

/* ---------------header section -----------------*/
.header {
  background: rgb(69, 193, 124);
  background-image: url(/images/hero-banner.jpg),
    linear-gradient(90deg, rgba(69, 193, 124, 1) 11%, rgba(44, 225, 216, 1) 42%);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-attachment: fixed;
  background-blend-mode: overlay;
}
/*-----------------------navbar section------------------- */

.nav-section-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 45px;
}

.nav-title {
  font-size: 30px;
  line-height: 30px;
  font-weight: 700;
  color: white;
}

.nav-lists {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 15px;
}

.nav-link {
  font-size: 20px;
  font-weight: 500;
  color: white;
  text-decoration: none;
  padding: 10px 12px;
}

.nav-link:hover {
  background-color: white;
  color: var(--primary-color);
  border-radius: 10px;
}

.hire-me-btn {
  font-size: 20px;
  font-weight: 600;
  color: white;
  border: 2px solid white;
  padding: 12px 18px;
  background-color: transparent;
  border-radius: 25px;
}
.hire-me-btn:hover {
  background-color: white;
  color: #00d7bb;
}
.arrow-sign {
  margin-left: 5px;
  font-size: 18px;
}

/* -----------hero section------------- */
.hero-container {
  height: calc(100% - 95.4px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hello-text {
  font-size: 120px;
  font-weight: 400;
  color: white;
  line-height: 135px;
}

.hero-title {
  font-size: 84px;
  font-weight: 600;
  color: white;
  line-height: 92px;
  margin-bottom: 10px;
}

.hero-job-name {
  font-size: 26px;
  font-weight: 500;
  color: white;
  line-height: 30px;
}

/* ------------------about section------------- */

.about-area {
  background-color: var(--background-first);
  padding-top: 130px;
  padding-bottom: 130px;
}

.about-area-container {
  display: flex;
  align-items: center;
}

.about-area-container > * {
  flex: 1;
}

.about-left {
  position: relative;
}

.about-image {
  width: 365px;
  height: 385px;
  object-fit: contain;
  position: relative;
  z-index: 1000;
  background: rgb(17, 18, 18);
  background: linear-gradient(
    0deg,
    rgba(17, 18, 18, 1) 4%,
    rgba(37, 35, 35, 1) 64%
  );
}

.border-line {
  width: 365px;
  height: 385px;
  border: 7px solid var(--primary-color);
  position: absolute;
  top: -50px;
  left: 50px;
  z-index: 10;
}

.about-description {
  margin-top: 20px;
  margin-bottom: 20px;
}

.about-detail {
  font-size: 18px;
  font-weight: 500;
  color: white;
  line-height: 26px;
  margin-bottom: 15px;
}
.about-detail-highlight {
  font-weight: 700;
  color: var(--primary-color);
}

.resume-btn {
  margin-left: 278px;
}

/* -------------education section------------- */

.education-area {
  background-color: var(--background-second);
  padding-bottom: 120px;
}

.education-title-container {
  display: flex;
  justify-content: center;
  padding-top: 120px;
  padding-bottom: 120px;
}

.education-title {
  width: min-content;
}

.certificate {
  display: flex;
}

.certificate > * {
  flex: 1;
  padding: 75px 50px;
}

.certificate-details {
  text-align: end;
  border-right: 5px solid var(--primary-color);
}

.certificate-title {
  font-size: 27px;
  font-weight: 700;
  color: var(--primary-color);
}

.education-period {
  font-size: 16px;
  font-weight: 400;
  color: white;
  margin-top: 8px;
}

.certificate-text-container {
  display: flex;
  align-items: center;
  position: relative;
}

.circle-dot {
  position: absolute;
  left: -18px;
  color: #00d7bb;
}

/* ----------- expertise section-------------- */

.expertise-area {
  background-color: var(--background-first);
  padding-bottom: 140px;
}

.expertise-title-container {
  display: flex;
  justify-content: center;
  padding-top: 120px;
  padding-bottom: 100px;
}

.expertise-container {
  display: flex;
  gap: 80px;
}

.expertise-container > * {
  flex: 1;
}

.skill {
  padding: 30px 15px;
}

.skill-details {
  display: flex;
  justify-content: space-between;
}
.skill-title {
  font-size: 19px;
  font-weight: 600;
  color: white;
}
.skill-percentage {
  font-size: 15px;
  font-weight: 400;
  color: white;
}

.skill-progress {
  width: 100%;
  height: 6px;
  background-color: gray;
}

.skill-progress::-webkit-progress-value {
  background-color: var(--primary-color);
}

/* ------------experience section -------------*/

.experience-area {
  background-color: var(--background-second);
  padding-bottom: 90px;
}

.experience-title-container {
  display: flex;
  justify-content: center;
  padding-top: 120px;
  padding-bottom: 80px;
}

.experiences-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.experience {
  width: 450px;
  margin-bottom: 40px;
  border-bottom: 2px solid var(--primary-color);
}

.office-image {
  width: 100%;
}

.office-name {
  font-size: 17px;
  font-weight: 700;
  color: var(--primary-color);
  margin-top: 10px;
  margin-bottom: 10px;
}

.experience-duration {
  font-size: 14px;
  font-weight: 400;
  color: white;
  margin-bottom: 15px;
}

/* ----------projects section-------------- */

.projects-title-container {
  background-color: var(--background-first);
  padding-top: 90px;
  padding-bottom: 90px;
  display: flex;
  justify-content: center;
}

.projects-section-container {
  background-color: #06b990;
  padding-top: 50px;
  padding-bottom: 50px;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.project {
  width: 500px;
  position: relative;
}

.project-image {
  width: 100%;
  object-fit: contain;
}

.project:hover > .project-details-and-link {
  opacity: 1;
  box-shadow: 1px 6px 24px #3e3e3e;
  transition: all 0.4s ease-in-out 0.001s;
}

.project-details-and-link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  z-index: 1000;
  font-size: 20px;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.911);
  opacity: 0;
  border: 10px solid #a6bcc0;
}

.project-name {
  font-size: 30px;
  font-weight: 700;
  color: #00d7bb;
  margin-bottom: 12px;
}

.project-btn {
  background-color: #00d7bb;
  padding: 8px 12px;
  font-size: 15px;
  font-weight: 400;
  color: white;
  border: none;
}

.project-btn:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* -------------contact section------------- */

.contact-area {
  background-color: var(--background-first);
  padding-bottom: 100px;
}

.contact-title-container {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 80px;
}

.contact-name-email-container {
  display: flex;
  gap: 40px;
  margin-bottom: 30px;
}

.name,
.email,
.message {
  width: 100%;
}

.name-input,
.email-input,
.message-field {
  width: 100%;
  background-color: var(--background-first);
  border-bottom: 3px solid gray;
  color: white;
}

.name-input:focus,
.email-input:focus,
.message-field:focus {
  border-bottom: 3px solid var(--primary-color);
  outline: none;
}

.name-input,
.email-input {
  height: 30px;
  border-top: none;
  border-left: none;
  border-right: none;
}

.message-field {
  height: 200px;
  border-top: none;
  border-left: none;
  border-right: none;
}

label {
  font-size: 15px;
  font-weight: 400;
  color: var(--primary-color);
}

.send-btn {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.send-message-btn {
  padding: 20px 30px;
  background-color: transparent;
  border: 1px solid var(--primary-color);
  font-size: 14px;
  font-weight: 400;
  color: var(--primary-color);
}

.send-message-btn:hover {
  color: white;
  background: rgb(68, 189, 120);
  background: linear-gradient(
    135deg,
    rgba(68, 189, 120, 1) 1%,
    rgba(40, 221, 213, 1) 53%
  );
  box-shadow: rgba(40, 221, 213, 1) 0px 5px 15px;
  cursor: pointer;
}

/* --------footer section --------------- */

.footer {
  background-color: var(--background-first);
}

.footer-container {
  border-top: 1px solid rgb(67, 66, 66);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 35px;
  padding-bottom: 35px;
}

.footer-left {
  font-size: 25px;
  color: var(--primary-color);
  display: flex;
  gap: 30px;
}

.footer-left > i {
  background-color: #313741;
  padding: 14px;
  border-radius: 50%;
}

.copyright {
  font-size: 17px;
  font-weight: 400;
  color: var(--primary-color);
}
